import "$MUSIC_BASE/ConfigFiles/general.cff"

General.RunOnData = 0
General.CME = 13000



Muon.IdTag = 1
Muon.ID.Type="LooseID"
Muon.Pt.min = 10.

Ele.IdTag = 1
Ele.ID.Type = "HEEP"
Ele.pt.min = 10.

Tau.use = 1
Tau.IdTag = 1
Tau.Type.Rec = "slimmedTausBoosted"
Tau.Discriminators = decayModeFindingNewDMs
Tau.pt.min = 10.

##Trigger.Muo.Triggers = HLT_Mu30_TkMu11
Trigger.Muo.Triggers = HLT_IsoMu24_eta2p1_v13 

##Trigger.Ele.Triggers = HLT_DoubleEle33_CaloIdL_GsfTrkIdVL
Trigger.Ele.Triggers = HLT_Ele80_CaloIdVT_GsfTrkIdT_v1

Trigger.Jet.Triggers = HLT_PFJet320_v5